.conky/
alacritty/
autostart/
bash-bak/
calendar/
calendars/
cef_user_data/
chromium/
comptop-bak/
configstore/
conky-manager.json
dconf/
discord/
enchant/
galculator/
gconf/
google-chrome/
htop/
inkscape/
Kvantum/
leafpad/
libfm/
libreoffice/
LogiGSK/
Joplin/
menus/
mimeapps.list
mpv/
nnn/
onedrive/
osmo/
picom/
procps/
pulse/
qalculate/
qt5ct/
QtProject.conf
smplayer/
spotify/
systemd/
teams-for-linux/
trashrc
'Unknown Organization'
vdirsyncer/
VirtualBox/
zathura/
yay/
zoomus.conf

