.conky/
alacritty/
autostart/
bash-bak/
baloofileinformationrc/
BetterDiscord/
calendar/
calendars/
cef_user_data/
chromium/
coc/
comptop-bak/
configstore/
conky-manager.json
dconf/
dolphinrc
Deezloader\ Remix/
Dharkael/
deadbeef/
dconf/
discord/
enchant/
galculator/
gconf/
google-chrome/
htop/
inkscape/
Kvantum/
leafpad/
libfm/
libreoffice/
LogiGSK/
lutris/
menus/
mimeapps.list
mpv/
mpd/
ncmpcpp/bindings-luke-smith
neofetch/
nnn/
onedrive/
pcmanfm/
picom/
procps/
pulse/
qalculate/
qt5ct/
QtProject.conf
smplayer/
spicetify/
spotify/
systemd/
teams-for-linux/
trashrc
Unknown\ Organization/
vdirsyncer/
vifm/colors/
VirtualBox/
zathura/
yay/
zoomus.conf
nvim/snips/
