.conky/
alacritty/
autostart/
bash-bak/
balena-etcher-electron/
baloofileinformationrc
BetterDiscord/
calendar/
calendars/
cef_user_data/
chromium/
coc/
configstore/
conky-manager.json
dconf/
deadbeef/
dolphinrc
Deezloader\ Remix/
Dharkael/
discord/
enchant/
fontconfig/
galculator/
gconf/
geany/
google-chrome/
htop/
inkscape/
Kvantum/
leafpad/
libfm/
libreoffice/
LogiGSK/
lutris/
menus/
mimeapps.list
mpd/
mpv/
ncmpcpp/bindings-luke-smith
neofetch/
nvim/
obs-studio/
onedrive/
pcmanfm/
picom/
procps/
polybar/
pulse/
qalculate/
qt5ct/
qutebrowser/
QtProject.conf
smplayer/
spicetify/
spotify/
systemd/
teams-for-linux/
trashrc
Unknown\ Organization/
vdirsyncer/
vifm/
VirtualBox/
vis/
yay/
zathura/
zsh/
zoomus.conf
