// @name          Discord app. (V2.1 Updated!.)
// @namespace     http://userstyles.org
// @description	  A slick new discord theme.
// @author        Mitsu_ | ジュリアン
// @homepage      https://userstyles.org/styles/134330
// @include       https://discordapp.com/*
// @run-at        document-start
// @version       0.20161028094638
// ==/UserScript==
(function() {var css = [
	".guild-channels .channel-text .channel-name:before {",
	"    content: \'#\';",
	"    margin-right: 0;",
	"}",
	"",
	"",
	"",
	"body {background: url(https://i.imgur.com/3EEFjst.jpg); background-size: cover; }",
	"",
	".embed .embed-author, .embed .embed-footer, .embed .embed-title { color: initial !important; }",
	".system-message-icon { margin-left: 20px; }",
	"",
	".user-popout .body .roles .member-roles {",
	"    max-height: 230px;",
	"    overflow-y: auto;",
	"}",
	"",
	".upload-drop-modal .bgScale { background: grey; }",
	".upload-modal { background-color: grey; }",
	".upload-modal .footer { background-color: #737373; }",
	".upload-modal .footer .button { background-color: #737373; }",
	".upload-modal .footer .button-primary { background-color: #fff; }",
	"",
	".user-popout .avatar-wrapper .avatar-popout {",
	"    border: 4px solid lightgrey;",
	"}",
	"",
	".user-popout .header { ",
	"    background: url(https://i.imgur.com/AMJKUUs.png) grey; }",
	"",
	".server-info button { background: lightgreen; }",
	".server-info button:hover { background: grey; }",
	".server-official { color: grey !important; text-shadow: none; }",
	"#pubs-footer { padding: 5px; background: grey; }",
	"#pubs-header { padding: 10px; background: grey; }",
	"#pubs-container { ",
	"    overflow:hidden; ",
	"    border: 1px solid grey;",
	"    border-radius: 6px;",
	"    box-shadow: 1px 1px 1px lightgrey; ",
	"}",
	"",
	"#friends { overflow: hidden; border-radius: 6px; }",
	"",
	".confirm-message-modal .message-group {",
	"    box-shadow:none;",
	"}",
	"",
	".message-group .edit-message .edit-container-inner {",
	"    margin-left: 103px;",
	"}",
	".message-group .edit-message .channel-textarea-inner {",
	"    border-color: grey;",
	"}",
	".message-group .edit-message { margin: 6px -26px 0 -97px; }",
	".message-group .edit-message .edit-container-outer {",
	"    margin-left: -103px;",
	"}",
	"",
	".now-playing { background: grey; }",
	".need-help-modal .header { background-color: grey; }",
	".radio-theme input[type=radio]:checked~label { border-color: grey; }",
	".checkbox .checkbox-inner input[type=checkbox]:checked+span {",
	"    background-color: grey;",
	"    border-color: grey;",
	"}",
	"",
	".app, .callout-backdrop, .connecting, .titlebar {",
	"    margin: 25px; ",
	"    border-radius: 6px;",
	"    overflow:hidden;",
	"}",
	"",
	".chat .divider { margin: 25px 6px 25px 25px; }",
	"",
	".chat .welcome-message { ",
	"    opacity:0.9;",
	"    padding: 0 25px;",
	"    margin: 0 25px;",
	"    display: inline-block;",
	"    background:white;",
	"    border-radius: 0 0 3px 3px ;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"}",
	"",
	".guilds-wrapper {",
	"    opacity: 0.7;",
	"}",
	"",
	".guilds-wrapper .guilds .friends-icon {",
	"    background-image: url(https://s.gravatar.com/avatar/7339613adb9ea7a0328b35839edf9e86?s=300);",
	"    background-size: cover;",
	"}",
	"",
	".chat .empty-message { ",
	"    opacity:0.9;",
	"    margin-left: 25px;",
	"    padding: 60px 25px 0 25px;",
	"    display: inline-block;",
	"    background:white;",
	"    border-radius: 0 0 3px 3px ;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"}",
	"",
	".chat .welcome-message .empty-message { display: none; }",
	"",
	".scroller-wrap .scroller::-webkit-scrollbar-track-piece {",
	"    border: none;",
	"    background: inherit;",
	"}",
	"",
	".scroller-wrap .scroller {",
	"    margin-right: 6px;",
	"}",
	"",
	".channel-members {",
	"    opacity: 0.9;",
	"}",
	".typing {",
	"    width: 96%;",
	"    border-radius: 3px; ",
	"    margin: 70px ;",
	"    margin-left: 5px;",
	"    padding-left: 5px;",
	"}",
	"",
	"div.avatar-large {",
	"    background-size: cover;",
	"    width: 62.5px;",
	"    height: 62.5px;",
	"    border-radius: 6px;",
	"    float: left;",
	"    margin: 0 15px; ",
	"}",
	"",
	".message-group .comment .markup { color:black; }",
	"",
	"div.message-group {",
	"    opacity:0.9;",
	"    background:white;",
	"    margin: 10px 6px 0 25px;",
	"    border-radius: 3px;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"    height: auto;",
	"}",
	"",
	".message-group.is-local-bot-message {",
	"    opacity:0.9;",
	"    background:white;",
	"    margin: 10px 6px 0 25px;",
	"    border-radius: 3px;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"    height: auto;    ",
	"}",
	"",
	".chat form {",
	"    margin: 4px 25px -5px 25px;",
	"}",
	"",
	".channel-textarea-inner {",
	"    margin:0;",
	"    border-radius: 3px;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"}",
	"",
	".private-channels:after {",
	"    content: \"Visit Mitsudo on MyAnimeList ! NQeb9BY Join our discord !\";",
	"    background: #282b30;",
	"    color: #fff;",
	"    font-size: 14px;",
	"    font-weight: 600;",
	"    display: flex;",
	"    -webkit-box-align: center;",
	"    align-items: center;",
	"    padding: 10px;",
	"    border-top: 1px solid #1c1e22;",
	"    flex-shrink: 0;",
	"}",
	"",
	".chat .content {",
	"    background-size: cover;",
	"    background-color: inherit;",
	"}",
	"",
	".chat>.title-wrap {",
	"    overflow: hidden;",
	"    border-radius: 6px 6px 0 0;",
	"    box-shadow: 1px 1px 1px lightgrey;",
	"}",
	"",
	".flex-vertical .channels-wrap {",
	"    opacity: 0.85;",
	"    overflow:hidden !important;",
	"    border-radius:  0 6px 6px 0 !important;",
	"    margin-right: 25px;",
	"}",
	"",
	".image { border-radius: 3px; }",
	"",
	".flex-vertical .flex-spacer .guild-channels-wrapper {",
	"    border-radius: 0;",
	"    overflow:hidden;",
	"}",
	"",
	".flex-spacer .flex-vertical {",
	"    overflow:hidden;",
	"    background-color: rgba(46, 49, 54, 0.42);",
	"    border-radius: 6px;",
	"}",
	"",
	".theme-light .hljs {",
	"    color: white;",
	"}",
	"",
	"/* Better discord area */",
	"",
	".bd-detached-editor .app {",
	"    width: 65%;",
	"}",
	"",
	"#bd-customcss-attach-controls {",
	"    height: auto;",
	"    border: 0;",
	"    margin:  5px;",
	"    background: #ebebeb;",
	"}",
	"",
	"#bd-customcss-detach-container {",
	"    margin: 25px;",
	"    padding-top: 7px;",
	"    overflow: hidden;",
	"    border-bottom: 0;",
	"    border-radius: 6px;",
	"    background-color: #ebebeb;",
	"}",
	"",
	"/* Code box */",
	"",
	".message-group .comment .markup pre code {",
	"    background: black;",
	"    border-radius: 3px;",
	"}",
	"",
	".css:before { content:\"CSS\"; color:white }",
	".javascript:before { content:\"JAVASCRIPT\"; color:white }",
	".html:before { content:\"HTML\"; color:white }",
	".php:before { content:\"PHP\"; color:white }",
	".java:before { content:\"CSS\"; color:white }",
	".python:before { content:\"JAVASCRIPT\"; color:white }",
	".ruby:before { content:\"HTML\"; color:white }",
	".c:before { content:\"C\"; color:white }",
	".r:before { content:\"R\"; color:white }",
	".vim:before { content:\"VIM\"; color:white }",
	".go:before { content:\"GO\"; color:white }",
	".md:before { content:\"MD\"; color:white }",
	"",
	".CSS:before { content:\"CSS\"; color:white }",
	".Javascript:before { content:\"JAVASCRIPT\"; color:white }",
	".HTML:before { content:\"HTML\"; color:white }",
	".Html:before { content:\"HTML\"; color:white }",
	".PHP:before { content:\"PHP\"; color:white }",
	".Php:before { content:\"PHP\"; color:white }",
	".JAVA:before { content:\"CSS\"; color:white }",
	".Java:before { content:\"CSS\"; color:white }",
	".PYTHON:before { content:\"JAVASCRIPT\"; color:white }",
	".Python:before { content:\"JAVASCRIPT\"; color:white }",
	".RUBY:before { content:\"HTML\"; color:white }",
	".Ruby:before { content:\"HTML\"; color:white }",
	".C:before { content:\"C\"; color:white }",
	".F:before { content:\"R\"; color:white }",
	".VIM:before { content:\"VIM\"; color:white }",
	".GO:before { content:\"GO\"; color:white }",
	".MD:before { content:\"MD\"; color:white }"
].join("\n");
if (typeof GM_addStyle != "undefined") {
	GM_addStyle(css);
} else if (typeof PRO_addStyle != "undefined") {
	PRO_addStyle(css);
} else if (typeof addStyle != "undefined") {
	addStyle(css);
} else {
	var node = document.createElement("style");
	node.type = "text/css";
	node.appendChild(document.createTextNode(css));
	var heads = document.getElementsByTagName("head");
	if (heads.length > 0) {
		heads[0].appendChild(node);
	} else {
		// no head yet, stick it whereever
		document.documentElement.appendChild(node);
	}
}
})();

